<div class="banner">
  <h6>Last updated: April 28, 2022</h6>
  <h2>Privacy Policy</h2>
</div>
<section class="main">
  <div class="container">
    <p>
      This Privacy Policy describes Our policies and procedures on the collection, use and disclosure of Your
      information
      when You use the Service and tells You about Your privacy rights and how the law protects You.<br>
      We use Your Personal data to provide and improve the Service. By using the Service, You agree to the collection
      and
      use of information in accordance with this Privacy Policy.
    </p>
    <div class="row">
      <div class="col-md-3 list">
        <ol>
          <li>Interpretation</li>
          <li>Definitions</li>
          <li>Collecting and Using Your Personal Data</li>
          <ul class="mini-list">
            <li>Types of Data Collected</li>
            <li>Use of Your Personal Data</li>
            <li>Retention of Your Personal Data</li>
            <li>Transfer of Your Personal Data</li>
            <li>Disclosure of Your Personal Data</li>
            <li>Security of Your Personal Data</li>
          </ul>
          <li>Detailed Information on the Processing of Your Personal Data</li>
          <ul class="mini-list">
            <li>Email Marketing</li>
            <li>Payments</li>
          </ul>
          <li>GDPR Privacy </li>
          <ul class="mini-list">
            <li>Legal Basis for Processing Personal Data under GDPR</li>
            <li>Your Rights under the GDPR</li>
            <li> Exercising of Your GDPR Data Protection Rights</li>
          </ul>

          <li>Facebook Fan Page </li>
          <ul class="mini-list">
            <li>Data Controller for the Facebook Fan Page</li>
            <li>Facebook Insights</li>
          </ul>

          <li>"Do Not Track" Policy as Required by California Online Privacy Protection Act (CalOPPA)</li>
          <li>Children's Privacy</li>
          <li>Links to Other Websites</li>
          <li>Translation Interpretation</li>
          <li>Changes to this Privacy Policy</li>
          <li>Contact Us</li>
        </ol>
      </div>
      <div class="col-lg-8 col-md-12 content">
        <ol>
          <li>Interpretation </li>
          <p>The words of which the initial letter is capitalized have meanings defined under the following conditions.
            The following definitions shall have the same meaning regardless of whether they appear in singular or in
            plural.
          </p>
          <li>Definitions</li>
          <p>For the purposes of these Terms and Conditions:</p>
          <table id="customers" class="w-100">
            <thead>
              <tr>
                <th class="w-25 one">Definitions</th>
                <th class="two">Meaning</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="bullet"><i class="fa-solid fa-circle"></i>Account</td>
                <td>Means a unique account created for You to access our Service or parts of our Service.
                </td>

              </tr>
              <tr>
                <td class="bullet"><i class="fa-solid fa-circle"></i>Affiliate</td>
                <td>Means an entity that controls, is controlled by or is under common control with a party, where
                  "control" means ownership of 50% or more of the shares, equity interest or other securities entitled
                  to vote for election of directors or other managing authority.</td>

              </tr>
              <tr>
                <td class="bullet"><i class="fa-solid fa-circle"></i>Application</td>
                <td>Means the software program provided by the Company downloaded by You on any electronic device, named
                  Music On
                </td>

              </tr>
              <tr>
                <td class="bullet"><i class="fa-solid fa-circle"></i>Company</td>
                <td>(referred to as either "the Company", "We", "Us" or "Our" in this Agreement) refers to Music On Srl
                  , Viale Gramsci, 22 80122 NAPOLI .
                  For the purpose of the GDPR, the Company is the Data Controller.</td>

              </tr>
              <tr>
                <td class="bullet"><i class="fa-solid fa-circle"></i>Data Controller</td>
                <td>for the purposes of the GDPR (General Data Protection Regulation), refers to the Company as the
                  legal person which alone or jointly with others determines the purposes and means of the processing of
                  Personal Data.</td>
              </tr>
              <tr>
                <td class="bullet"><i class="fa-solid fa-circle"></i>Device</td>
                <td>Means any device that can access the Service such as a computer, a cellphone or a digital tablet.
                </td>

              </tr>
              <tr>
                <td class="bullet"><i class="fa-solid fa-circle"></i>Do Not Track (DNT) </td>
                <td>is a concept that has been promoted by US regulatory authorities, in particular the U.S. Federal
                  Trade Commission (FTC), for the Internet industry to develop and implement a mechanism for allowing
                  internet users to control the tracking of their online activities across websites.

                </td>

              </tr>
              <tr>
                <td class="bullet"><i class="fa-solid fa-circle"></i>Facebook Fan Page </td>
                <td>is a public profile named Music On specifically created by the Company on the Facebook social
                  network, accessible from <a
                    href="https://www.facebook.com/musiconofficial">https://www.facebook.com/musiconofficial</a> </td>

              </tr>
              <tr>
                <td class="bullet"><i class="fa-solid fa-circle"></i>Personal Data</td>
                <td>

                  is any information that relates to an identified or identifiable individual.
                  For the purposes of GDPR, Personal Data means any information relating to You such as a name, an
                  identification number, location data, online identifier or to one or more factors specific to the
                  physical, physiological, genetic, mental, economic, cultural or social identity.

                </td>

              </tr>
              <tr>
                <td class="bullet"><i class="fa-solid fa-circle"></i>Service</td>
                <td>Refers to the Application.</td>
              </tr>
              <tr>
                <td class="bullet"><i class="fa-solid fa-circle"></i>Service Provider</td>
                <td>means any natural or legal person who processes the data on behalf of the Company. It refers to
                  third-party companies or individuals employed by the Company to facilitate the Service, to provide the
                  Service on behalf of the Company, to perform services related to the Service or to assist the Company
                  in analyzing how the Service is used. For the purpose of the GDPR, Service Providers are considered
                  Data Processors.


                </td>

              </tr>
              <tr>
                <td class="bullet"><i class="fa-solid fa-circle"></i>Third-party Social Media Service</td>
                <td>refers to any website or any social network website through which a User can log in or create an
                  account to use the Service.</td>
              </tr>
              <tr>
                <td class="bullet"><i class="fa-solid fa-circle"></i>Usage Data</td>
                <td>
                  Refers to behyve, accessible from https://behyve.net

                </td>
              </tr>
              <tr>
                <td class="bullet"><i class="fa-solid fa-circle"></i>You </td>
                <td>means the individual accessing or using the Service, or the company, or other legal entity on behalf
                  of which such individual is accessing or using the Service, as applicable.
                  Under GDPR (General Data Protection Regulation), You can be referred to as the Data Subject or as the
                  User as you are the individual using the Service.</td>
              </tr>
            </tbody>
          </table>
          <li>Collecting and Using Your Personal Data</li>
          <h5>Types of Data Collected </h5>
          <h5>Personal Data </h5>
          <p>While using Our Service, We may ask You to provide Us with certain personally identifiable information that
            can be used to contact or identify You. Personally identifiable information may include, but is not limited
            to: </p>
          <div class="inner-list">
            <ul>
              <li>Email address</li>
              <li>First name and last name</li>
              <li>Phone number</li>
              <li>Address, State, Province, ZIP/Postal code, City</li>
              <li>Usage Data</li>
            </ul>
          </div>
          <h5>Usage Data </h5>
          <p>Usage Data is collected automatically when using the Service.
            Usage Data may include information such as Your Device's Internet Protocol address (e.g. IP address),
            browser type, browser version, the pages of our Service that You visit, the time and date of Your visit, the
            time spent on those pages, unique device identifiers and other diagnostic data.
            When You access the Service by or through a mobile device, We may collect certain information automatically,
            including, but not limited to, the type of mobile device You use, Your mobile device unique ID, the IP
            address of Your mobile device, Your mobile operating system, the type of mobile Internet browser You use,
            unique device identifiers and other diagnostic data.
            We may also collect information that Your browser sends whenever You visit our Service or when You access
            the Service by or through a mobile device.
          </p>
          <h5>Information from Third-Party Social Media Services </h5>
          <p>The Company allows You to create an account and log in to use the Service through the following Third-party
            Social Media Services:</p>
          <div class="inner-list">
            <ul>
              <li>Google </li>
              <li> Facebook</li>
              <li>Twitter</li>
              <li> LinkedIn </li>
            </ul>
          </div>
          <p>If You decide to register through or otherwise grant us access to a Third-Party Social Media Service, We
            may collect Personal data that is already associated with Your Third-Party Social Media Service's account,
            such as Your name, Your email address, Your activities or Your contact list associated with that account.
            You may also have the option of sharing additional information with the Company through Your Third-Party
            Social Media Service's account. If You choose to provide such information and Personal Data, during
            registration or otherwise, You are giving the Company permission to use, share, and store it in a manner
            consistent with this Privacy Policy. </p>
          <h5>Use of Your Personal Data </h5>
          <p>The Company may use Personal Data for the following purposes: </p>
          <div class="inner-list">
            <ul>
              <li>To provide and maintain our Service,including to monitor the usage of our Service.
              </li>
              <li> To manage Your Account: to manage Your registration as a user of the Service. The Personal Data You
                provide can give You access to different functionalities of the Service that are available to You as a
                registered user.
              </li>
              <li>For the performance of a contract: the development, compliance and undertaking of the purchase
                contract for the products, items or services You have purchased or of any other contract with Us through
                the Service.
              </li>
              <li> To contact You: To contact You by email, telephone calls, SMS, or other equivalent forms of
                electronic communication, such as a mobile application's push notifications regarding updates or
                informative communications related to the functionalities, products or contracted services, including
                the security updates, when necessary or reasonable for their implementation.
              </li>
              <li> To provide You with news, special offers and general information about other goods, services and
                events which we offer that are similar to those that you have already purchased or enquired about unless
                You have opted not to receive such information.
              </li>
              <li> To manage Your requests: To attend and manage Your requests to Us.</li>
              <li> For business transfers: We may use Your information to evaluate or conduct a merger, divestiture,
                restructuring, reorganization, dissolution, or other sale or transfer of some or all of Our assets,
                whether as a going concern or as part of bankruptcy, liquidation, or similar proceeding, in which
                Personal Data held by Us about our Service users is among the assets transferred.
              </li>
              <li> For other purposes: We may use Your information for other purposes, such as data analysis,
                identifying usage trends, determining the effectiveness of our promotional campaigns and to evaluate and
                improve our Service, products, services, marketing and your experience.
              </li>
            </ul>
          </div>
          <p> We may share Your personal information in the following situations:</p>
          <div class="inner-list">
            <ul>
              <li> With Service Providers: We may share Your personal information with Service Providers to monitor and
                analyze the use of our Service, for payment processing, to contact You.
              </li>
              <li> For business transfers: We may share or transfer Your personal information in connection with, or
                during negotiations of, any merger, sale of Company assets, financing, or acquisition of all or a
                portion of Our business to another company.
              </li>
              <li>With Affiliates: We may share Your information with Our affiliates, in which case we will require
                those affiliates to honor this Privacy Policy. Affiliates include Our parent company and any other
                subsidiaries, joint venture partners or other companies that We control or that are under common control
                with Us.
              </li>
              <li> With business partners: We may share Your information with Our business partners to offer You certain
                products, services or promotions.
              </li>
              <li>With other users: when You share personal information or otherwise interact in the public areas with
                other users, such information may be viewed by all users and may be publicly distributed outside.If You
                interact with other users or register through a Third-Party Social Media Service, Your contacts on the
                Third-Party Social Media Service may see Your name, profile, pictures and description of Your activity.
                Similarly, other users will be able to view descriptions of Your activity, communicate with You and view
                Your profile.
              </li>
              <li> With Your consent: We may disclose Your personal information for any other purpose with Your consent.
              </li>
            </ul>
          </div>
          <h5>Retention of Your Personal Data</h5>
          <p>Your information, including Personal Data, is processed at the Company's operating offices and in any other
            places where the parties involved in the processing are located. It means that this information may be
            transferred to — and maintained on — computers located outside of Your state, province, country or other
            governmental jurisdiction where the data protection laws may differ than those from Your jurisdiction.
            Your consent to this Privacy Policy followed by Your submission of such information represents Your
            agreement to that transfer.
            The Company will take all steps reasonably necessary to ensure that Your data is treated securely and in
            accordance with this Privacy Policy and no transfer of Your Personal Data will take place to an organization
            or a country unless there are adequate controls in place including the security of Your data and other
            personal information.
          </p>
          <h5>Disclosure of Your Personal Data</h5>
          <p>Business Transactions<br>
            If the Company is involved in a merger, acquisition or asset sale, Your Personal Data may be transferred. We
            will provide notice before Your Personal Data is transferred and becomes subject to a different Privacy
            Policy.
            <br><br>
            Law enforcement
            Under certain circumstances, the Company may be required to disclose Your Personal Data if required to do so
            by law or in response to valid requests by public authorities (e.g. a court or a government agency).
            <br><br>
            Other legal requirements<br>
            The Company may disclose Your Personal Data in the good faith belief that such action is necessary to:
          </p>
          <div class="inner-list">
            <ul>
              <li>Comply with a legal obligation</li>
              <li>Protect and defend the rights or property of the Company</li>
              <li>Prevent or investigate possible wrongdoing in connection with the Service</li>
              <li> Protect the personal safety of Users of the Service or the public </li>
              <li>Protect against legal liability</li>
            </ul>
          </div>
          <h5>Security of Your Personal Data</h5>
          <p>The security of Your Personal Data is important to Us, but remember that no method of transmission over the
            Internet, or method of electronic storage is 100% secure. While We strive to use commercially acceptable
            means to protect Your Personal Data, We cannot guarantee its absolute security.</p>
          <li>Detailed Information on the Processing of Your Personal Data</li>
          <p>The Service Providers We use may have access to Your Personal Data. These third-party vendors collect,
            store, use, process and transfer information about Your activity on Our Service in accordance with their
            Privacy Policies</p>
          <h5>Email Marketing</h5>
          <p>We may use Your Personal Data to contact You with newsletters, marketing or promotional materials and other
            information that may be of interest to You. You may opt-out of receiving any, or all, of these
            communications from Us by following the unsubscribe link or instructions provided in any email We send or by
            contacting Us. We may use Email Marketing Service Providers to manage and send emails to You.
          </p>
          <div class="inner-list">
            <ul>
              <li>Amazon Simple Email Service</li>
              <li> Their Privacy Policy can be viewed at <a
                  href="https://aws.amazon.com/privacy/prior-version20220308/">https://aws.amazon.com/privacy/prior-version20220308/</a>
              </li>
            </ul>
          </div>
          <h5>Payments</h5>
          <p>We may provide paid products and/or services within the Service. In that case, we may use third-party
            services for payment processing (e.g. payment processors).
            We will not store or collect Your payment card details. That information is provided directly to Our
            third-party payment processors whose use of Your personal information is governed by their Privacy Policy.
            These payment processors adhere to the standards set by PCI-DSS as managed by the PCI Security Standards
            Council, which is a joint effort of brands like Visa, Mastercard, American Express and Discover. PCI-DSS
            requirements help ensure the secure handling of payment information.
          </p>
          <div class="inner-list">
            <ul>
              <li>Stripe</li>
              <li> Their Privacy Policy can be viewed at <a
                  href="https://stripe.com/us/privacy">https://stripe.com/us/privacy</a>
              </li>
              <li>PayPal</li>
              <li>Their Privacy Policy can be viewed at <a
                  href="https://www.paypal.com/eg/webapps/mpp/ua/privacy-full?locale.x=en_EG">https://www.paypal.com/eg/webapps/mpp/ua/privacy-full?locale.x=en_EG</a>
              </li>
            </ul>
          </div>
          <li>GDPR Privacy</li>
          <h5>Legal Basis for Processing Personal Data under GDPR</h5>
          <p>We may process Personal Data under the following conditions:</p>
          <div class="inner-list">
            <ul>
              <li>Consent: You have given Your consent for processing Personal Data for one or more specific purposes.
              </li>
              <li> Performance of a contract: Provision of Personal Data is necessary for the performance of an
                agreement with You and/or for any pre-contractual obligations thereof. </li>
              <li>Legal obligations: Processing Personal Data is necessary for compliance with a legal obligation to
                which the Company is subject.</li>
              <li> Vital interests: Processing Personal Data is necessary in order to protect Your vital interests or of
                another natural person. </li>
              <li> Public interests: Processing Personal Data is related to a task that is carried out in the public
                interest or in the exercise of official authority vested in the Company.</li>
              <li> Legitimate interests: Processing Personal Data is necessary for the purposes of the legitimate
                interests pursued by the Company.</li>
            </ul>
          </div>
          <p> In any case, the Company will gladly help to clarify the specific legal basis that applies to the
            processing, and in particular whether the provision of Personal Data is a statutory or contractual
            requirement, or a requirement necessary to enter into a contract. </p>
          <h5>Your Rights under the GDPR</h5>
          <p>The Company undertakes to respect the confidentiality of Your Personal Data and to guarantee You can
            exercise Your rights.<br>You have the right under this Privacy Policy, and by law if You are within the EU,
            to:</p>
          <div class="inner-list">
            <ul>
              <li>Request access to Your Personal Data. The right to access, update or delete the information We have on
                You. Whenever made possible, you can access, update or request deletion of Your Personal Data directly
                within Your account settings section. If you are unable to perform these actions yourself, please
                contact Us to assist You. This also enables You to receive a copy of the Personal Data We hold about
                You.</li>
              <li>
                Request correction of the Personal Data that We hold about You. You have the right to have any
                incomplete or inaccurate information We hold about You corrected.</li>
              <li>
                Object to processing of Your Personal Data. This right exists where We are relying on a legitimate
                interest as the legal basis for Our processing and there is something about Your particular situation,
                which makes You want to object to our processing of Your Personal Data on this ground. You also have the
                right to object where We are processing Your Personal Data for direct marketing purposes.</li>
              <li>
                Request erasure of Your Personal Data. You have the right to ask Us to delete or remove Personal Data
                when there is no good reason for Us to continue processing it.</li>
              <li>Request the transfer of Your Personal Data. We will provide to You, or to a third-party You have
                chosen, Your Personal Data in a structured, commonly used, machine-readable format. Please note that
                this right only applies to automated information which You initially provided consent for Us to use or
                where We used the information to perform a contract with You.</li>
              <li>Withdraw Your consent. You have the right to withdraw Your consent on using your Personal Data. If You
                withdraw Your consent, We may not be able to provide You with access to certain specific functionalities
                of the Service.
              </li>
            </ul>
          </div>
          <h5>Exercising of Your GDPR Data Protection Rights</h5>
          <p>You may exercise Your rights of access, rectification, cancellation and opposition by contacting Us. Please
            note that we may ask You to verify Your identity before responding to such requests. If You make a request,
            We will try our best to respond to You as soon as possible.
            You have the right to complain to a Data Protection Authority about Our collection and use of Your Personal
            Data. For more information, if You are in the European Economic Area (EEA), please contact Your local data
            protection authority in the EEA.</p>
          <li>
            Facebook Fan Page
          </li>
          <h5>Data Controller for the Facebook Fan Page</h5>
          <p>
            The Company is the Data Controller of Your Personal Data collected while using the Service. As operator of
            the Facebook Fan Page <a
              href="https://www.facebook.com/musiconofficial">https://www.facebook.com/musiconofficial</a> , the Company
            and the operator of the social
            network Facebook are Joint Controllers.
            The Company has entered into agreements with Facebook that define the terms for use of the Facebook Fan
            Page, among other things. These terms are mostly based on the Facebook Terms of Service: <a
              href="https://www.facebook.com/terms.php">https://www.facebook.com/terms.php</a>

            Visit the Facebook Privacy Policy <a
              href="https://www.facebook.com/policy.php">https://www.facebook.com/policy.php</a> for more information
            about how
            Facebook manages Personal data or contact Facebook online, or by mail: Facebook, Inc. ATTN, Privacy
            Operations, 1601 Willow Road, Menlo Park, CA 94025, United States.
          </p>
          <h5>Facebook Insights</h5>
          <p>We use the Facebook Insights function in connection with the operation of the Facebook Fan Page and on the
            basis of the GDPR, in order to obtain anonymized statistical data about Our users.
            For this purpose, Facebook places a Cookie on the device of the user visiting Our Facebook Fan Page. Each
            Cookie contains a unique identifier code and remains active for a period of two years, except when it is
            deleted before the end of this period.
            Facebook receives, records and processes the information stored in the Cookie, especially when the user
            visits the Facebook services, services that are provided by other members of the Facebook Fan Page and
            services by other companies that use Facebook services.
            For more information on the privacy practices of Facebook, please visit Facebook Privacy Policy here: <a
              href="https://www.facebook.com/privacy/explanation">https://www.facebook.com/privacy/explanation</a>

          </p>
          <li>"Do Not Track" Policy as Required by California Online Privacy Protection Act (CalOPPA)</li>
          <p>Our Service does not respond to Do Not Track signals.<br> However, some third party websites do keep track
            of Your browsing activities. If You are visiting such websites, You can set Your preferences in Your web
            browser to inform websites that You do not want to be tracked. You can enable or disable DNT by visiting the
            preferences or settings page of Your web browser.</p>
          <li>Children's Privacy</li>
          <p>Our Service does not address anyone under the age of 13. We do not knowingly collect personally
            identifiable information from anyone under the age of 13. If You are a parent or guardian and You are aware
            that Your child has provided Us with Personal Data, please contact Us. If We become aware that We have
            collected Personal Data from anyone under the age of 13 without verification of parental consent, We take
            steps to remove that information from Our servers.<br> If We need to rely on consent as a legal basis for
            processing Your information and Your country requires consent from a parent, We may require Your parent's
            consent before We collect and use that information.</p>
          <li>Links to Other Websites</li>
          <p>Our Service may contain links to other websites that are not operated by Us. If You click on a third party
            link, You will be directed to that third party's site. We strongly advise You to review the Privacy Policy
            of every site You visit. We have no control over and assume no responsibility for the content, privacy
            policies or practices of any third party sites or services.</p>
          <li>Changes to this Privacy Policy</li>
          <p>We may update Our Privacy Policy from time to time. We will notify You of any changes by posting the new
            Privacy Policy on this page. We will let You know via email and/or a prominent notice on Our Service, prior
            to the change becoming effective and update the "Last updated" date at the top of this Privacy Policy. You
            are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are
            effective when they are posted on this page.  </p>









          <li>Contact Us</li>
          <p>If you have any questions about these Terms and Conditions, You can contact us:</p>
          <div class="inner-list">
            <ul>
              <li>By email: support@behyve.net</li>
            </ul>
          </div>

        </ol>
      </div>
    </div>
  </div>
</section>