<nav>
  <div class="wrapper">
    <div class="logo">
      <a href="">Logo</a>
    </div>
    <input type="radio" name="slides" id="menu-btn">
    <input type="radio" name="slides" id="cancel-btn">
    <ul class="nav-links">
      <label for="cancel-btn" class="btn cancel"><i class="fas fa-times"></i></label>
      <li><a href="">Home</a></li>
      <li><a href="">About</a></li>
      <li>
        <a href="" class="desktop">Dropdown Menu</a>
        <input type="checkbox" id="showDropDown">
        <label for="showDropDown" class="mobile">Dropdown Menu</label>
        <ul class="drop-menu">
          <li><a href="">Dropmenu 1</a></li>
          <li><a href="">Dropmenu 2</a></li>
          <li><a href="">Dropmenu 3</a></li>
          <li><a href="">Dropmenu 4</a></li>

        </ul>
      </li>
      <li>
        <a href="" class="desktop">Mega Menu</a>
        <input type="checkbox" id="showMega">
        <label for="showMega" class="mobile">Mega Menu</label>
        <div class="mega-box">
          <div class="content">
            <div class="row">
              <img src="../../assets/images/Angry rabbit.avif" alt="">
            </div>
            <div class="row">
              <h4>Description</h4>
              <ul class="mega-links no">
                <li><a href="">MegaMenu 1</a></li>
                <li><a href="">MegaMenu 2</a></li>
                <li><a href="">MegaMenu 3</a></li>
                <li><a href="">MegaMenu 4</a></li>
                <li><a href="">MegaMenu 5</a></li>
                <li><a href="">MegaMenu 6</a></li>
              </ul>
            </div>
            <div class="row">
              <h4>Description </h4>
              <ul class="mega-links ">
                <li><a href="">MegaMenu 1</a></li>
                <li><a href="">MegaMenu 2</a></li>
                <li><a href="">MegaMenu 3</a></li>
                <li><a href="">MegaMenu 4</a></li>
                <li><a href="">MegaMenu 5</a></li>
                <li><a href="">MegaMenu 6</a></li>
              </ul>
            </div>
            <div class="row">
              <h4>Description</h4>
              <ul class="mega-links">
                <li><a href="">MegaMenu 1</a></li>
                <li><a href="">MegaMenu 2</a></li>
                <li><a href="">MegaMenu 3</a></li>
                <li><a href="">MegaMenu 4</a></li>
                <li><a href="">MegaMenu 5</a></li>
                <li><a href="">MegaMenu 6</a></li>
              </ul>
            </div>
          </div>
        </div>
      </li>
      <li><a href="">Contact us </a></li>
    </ul>
    <label for="menu-btn" class=" btn cancel"><i class="fa-solid fa-bars text-light"></i></label>
  </div>
</nav>