<!-- <h1 *ngIf="userAge>10" class="text-center">Farha testing </h1> -->


<!-- <h2 [style.backgroundColor]="userAge>20?mainColor:secondColor">Home Component</h2> -->
<!-- <h2 [style]="lightTheme">Home Component</h2>

<h4>Name:{{userName}}</h4>
<h4>Age:{{userAge}}</h4>
<img [src]="imgSrc" alt="" [width]="imgWidth">
<button (click)="welcome($event)">ok</button>
<ul>
  <li *ngFor="let x of friends">{{x}}</li>
</ul>
<table *ngIf="users.length>0;else hambozo" class="table w-75 text-center mx-auto">
  <thead>
    <th>Is Even</th>
    <th>Name</th>
    <th>Age</th>
    <th>Gender</th>
    <th>Salary</th>
  </thead>
  <tbody>
    <tr *ngFor="let user of users;let iseven = even" [style.backgroundColor]="'red'">
      <td>{{iseven}}</td>
      <td>{{user.name}}</td>
      <td>{{user.age}}</td>
      <td>{{user.gender}}</td>
      <td>{{user.sallary}}</td>
    </tr>
  </tbody>
</table>
<ng-template #hambozo>
  <h4 class="text-center" style="color:#ccc">oops! there is no data please check again later</h4>
</ng-template>
<div [ngSwitch]="username" class="text-center">
  <h2 *ngSwitchCase="'ahmed'">Welcome Ahmed </h2>
  <h2 *ngSwitchCase="'mohamed'">Welcome mohamed </h2>
  <h2 *ngSwitchCase="'farha'">Welcome farha </h2>
  <h2 *ngSwitchCase="'farha ahmed'">Welcome farha Ahmed </h2>
  <h2 *ngSwitchCase="'Farha Ahmed'">Welcome Feroo </h2>
  <h2 *ngSwitchDefault>Welcome user </h2>
</div>

<h3 [style.color]="'red'">Web design </h3>
<h4 [ngStyle]="{'background-color': userAge > 10 ?'red':'green'}">Home component </h4>


<h3 [ngStyle]="{'background-color': userAge > 50?'red':'green','text-align':'center'}">Home component two</h3>


<h2 [ngClass]="{'bg-danger': userAge>10}">Another Component </h2> -->

<h6>Home works !</h6>